{% extends 'base.html'%} 
{% load static%}
{% block content%}
<div class="body">
  <div class="wrapper">
    <section class="form login">
      <header>Change password</header>
      {% if messages %}
      {% for message in messages %}
        <div class="error-text">{{ message }}</div>
      {% endfor %}
  {% endif %}
      <form action="#" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user_id}}">
        <div class="field input">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
            <i class="fas fa-eye"></i>
          </div>
        <div class="field input">
          <label>Confirm password</label>
          <input type="password" name="password1" placeholder="Confirm your password" required>
          <i class="fas fa-eye"></i>
        </div>
        <div class="field button">
          <input type="submit" name="submit" value="Change Password">
        </div>
      </form>

    </section>
  </div>
</div>
<script src="{% static 'javascript/pass-show-hide.js'%}"></script>

{% endblock %}